<div class="w-full h-full bg-slate-300">
  <div class="flex flex-col w-full h-full pl-[48px] pt-[36px]">
    <div class="flex flex-row">
      <h1 class="w-9/12 font-bold text-black text-4xl mb-10">
        Articles & Resources
      </h1>
      <button
        mat-flat-button
        class="p-5 bg-grey-darker rounded-full p-3 shadow-lg text-base font-medium text-grey-lightest"
        (click)="openNewArticleModal()"
      >
        New Article
      </button>
    </div>

    <div class="grid gap-x-0 grid-cols-3 mt-5 content-evenly">
      <ng-container *ngFor="let article of articles">
        <app-article-card
          class="w-[300px]"
          [article]="article"
        ></app-article-card>
      </ng-container>
    </div>
  </div>
</div>
