<div class="flex w-full h-full items-center justify-center">
  <div class="w-[324px] bg-slate-200 opacity-90 py-10 px-14">
    <h1 class="text-2xl font-bold">Sign In</h1>
    <form class="flex flex-col mt-6" [formGroup]="signInForm">
      <div class="flex flex-col">
        <mat-label class="mb-2">Email:</mat-label>
        <mat-form-field>
          <input
            formControlName="email"
            matInput
            type="text"
            placeholder="Enter email..."
          />
          <mat-error>Email is required</mat-error>
        </mat-form-field>
      </div>
      <div class="flex flex-col">
        <mat-label class="mb-2">Password</mat-label>
        <mat-form-field>
          <input
            formControlName="password"
            matInput
            type="password"
            placeholder="Enter password"
          />
          <mat-error>Password is required</mat-error>
        </mat-form-field>
      </div>
      <div class="flex flex-col items-center mt-4">
        <button
          mat-flat-button
          class="p-5 bg-grey-darker rounded-full p-3 shadow-lg text-base font-medium text-grey-lightest"
          (click)="signIn()"
        >
          SIGN IN
        </button>
        <a
          routerLink="/forgot-password"
          class="cursor-pointer underline text-blue-700 hover:text-slate-600"
          >Forgot password?</a
        >
        <br />
        <span> Not part of community yet? </span>
        <span>
          Join us
          <a
            routerLink="/register"
            class="cursor-pointer underline text-blue-700 hover:text-slate-600"
            >here</a
          >
        </span>
      </div>
    </form>
  </div>
</div>
