<mat-sidenav-container class="w-[270px]">
  <mat-sidenav
    #sidenav
    mode="side"
    opened
    class="w-[270px] bg-slate-200 px-4"
    [fixedInViewport]="true"
    [fixedTopGap]="0"
    [fixedBottomGap]="0"
  >
    <div class="flex flex-col w-full items-center my-4">
      <img src="assets/psychotherapy.png" alt="" class="w-28 h-28" />
    </div>
    <ul class="font-bold text-xl gap-y-4">
      @for (item of navigationItems; track $index) {
      <li>
        <a
          *ngIf="item.link"
          [routerLink]="item.link"
          matRipple
          class="cursor-pointer mt-3 px-2 rounded-lg block w-full h-full text-violet-950 hover:text-violet-600"
          >{{ item.label }}
        </a>
        <a
          *ngIf="!item.link && item.subOptions && item.subOptions.length"
          (click)="showSubOptions = !showSubOptions"
          matRipple
          class="cursor-pointer mt-3 px-2 rounded-lg block w-full h-full text-violet-950 hover:text-violet-600"
          >{{ item.label }}
        </a>
        <ng-container *ngIf="showSubOptions">
          @for (subItem of item.subOptions; track $index) {
            <a
              [routerLink]="subItem.link"
              matRipple
              class="ml-2 mt-2 px-2 rounded-lg block w-full h-full text-violet-950 hover:text-violet-600 text-[16px]"
              >{{ subItem.label }}
            </a> 
          }
        </ng-container>
      </li>
      }
    </ul>
    <li class="absolute left-0 bottom-0 mb-10 px-2 rounded-lg block w-full flex flex-row items-center mt-3">
      <mat-icon>logout</mat-icon>
      <a (click)="signOut()" matRipple class="cursor-pointer font-bold text-xl text-violet-950 hover:text-violet-600">
          Log Out
      </a>
  </li>
  </mat-sidenav>
</mat-sidenav-container>
