<div class="bg-slate-200 bg-opacity-50 w-full h-full">
    <div class="container mx-auto max-w-8xl px-4 py-6">
      <div class="patient-list-container px-4 py-6">
        <h1 class="text-3xl font-bold">My Patients</h1>
        <table mat-table [dataSource]="patients" class="mat-elevation-z8">
    
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let patient"> {{patient.name}} </td>
          </ng-container>
    
          <!-- Age Column -->
          <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef> Age </th>
            <td mat-cell *matCellDef="let patient"> {{patient.age}} </td>
          </ng-container>
    
          <!-- Time of Appointment Column -->
          <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef> Time of the appointment </th>
            <td mat-cell *matCellDef="let patient"> {{patient.time}} </td>
          </ng-container>
    
          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Action </th>
            <td mat-cell *matCellDef="let patient" class="flex justify-center">
              <button mat-icon-button (click)="onReportClick(patient)" aria-label="Weekly Report">
                <mat-icon>description</mat-icon>
              </button>
              <button mat-icon-button (click)="onDeleteClick(patient)" aria-label="Delete">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
  