<div class="w-full h-full bg-gradient-to-b from-slate-50 to-zinc-400 p-10">
  <h1 class="w-9/12 font-bold text-black text-3xl mb-10 ml-10">
    Create Article
  </h1>

  <form class="max-w-base mx-auto">
    <div class="mb-5">
      <label
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Title</label
      >
      <input
        type="text"
        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
      />
    </div>
    <div class="mb-5">
      <label
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Author</label
      >
      <input
        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
      />
    </div>
    <div class="mb-5">
      <label
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Image URL</label
      >
      <input
        type="text"
        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
      />
    </div>
    <div class="mb-5">
      <label
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Video URL</label
      >
      <input
        type="text"
        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
      />
    </div>
    <div class="mb-5">
      <label
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Text</label
      >
      <textarea
        rows="4"
        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Write your content here"
      ></textarea>
    </div>
    <button
      type="submit"
      mat-flat-button
      class="pl-5 pr-5 bg-grey-darker rounded-full p-3 shadow-lg text-base font-medium text-grey-lightest"
      (click)="openAllArticles()"
    >
      Create New Article
    </button>
  </form>
</div>
