<div class="w-full bg-gradient-to-b from-slate-50 to-zinc-400">
  <div class="p-20 content-center">
    <div class="flex justify-between items-start">
      <h1 class="w-9/12 font-bold text-black text-4xl mb-2 ml-50 text-justify">
        {{ expandedArticle.article.title }}
      </h1>
      <div class="flex flex-col space-y-2">
        <button
          *ngIf="currentUserRole === 'Psychologist'"
          mat-flat-button
          class="p-3 hover:bg-black hover:shadow-lg bg-grey-darker rounded-full shadow-lg text-base font-medium text-grey-lightest"
          (click)="deleteArticleModal()"
        >
          Delete Article
        </button>
        <button
          *ngIf="currentUserRole === 'Psychologist'"
          mat-flat-button
          class="p-3 hover:bg-black hover:shadow-lg bg-grey-darker rounded-full shadow-lg text-base font-medium text-grey-lightest"
          (click)="openEditArticleModal()"
        >
          Edit Article
        </button>
      </div>
    </div>

    <h3 class="mb-10 text-slate-500">By {{ expandedArticle.authorName }}</h3>

    <div class="mt-0 mb-10 ml-500 p-500">
      <img
        class="h-[350px]"
        [src]="expandedArticle.article.image?.imageUrl"
        alt="Photo of a Shiba Inu"
      />
    </div>

    <div *ngFor="let paragraph of paragraphs">
      <p class="font-sans w-4/5 text-lg mb-10">{{ paragraph }}</p>
    </div>

    <div
      *ngIf="
        expandedArticle.article.video?.videoUrl?.startsWith('https') &&
        safeVideoUrl
      "
    >
      <iframe
        [src]="safeVideoUrl"
        controls
        class="w-[850px] h-[500px] relative min-h-12"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
