<div class="w-full bg-gradient-to-b from-slate-50 to-zinc-400">
  <div class="p-20 content-center">
    <div class="flex flex-row">
      <h1 class="w-9/12 font-bold text-black text-4xl mb-2 ml-50 text-justify">
        {{ expandedArticle.article.title }}
      </h1>
      <!--<button
        mat-flat-button
        class="pl-5 pr-5 bg-grey-darker rounded-full p-3 shadow-lg text-base font-medium text-grey-lightest"
        (click)="openEditArticleModal()"
      >
        Edit Article
      </button>
    --></div>

    <h3 class="mb-10 text-slate-500">By {{ expandedArticle.authorName }}</h3>

    <div class="mt-0 mb-10 ml-500 p-500">
      <img
        class="h-[350px]"
        [src]="expandedArticle.article.image?.imageUrl"
        alt="Photo of a Shiba Inu"
      />
    </div>

    <div *ngFor="let paragraph of paragraphs">
      <p class="font-sans w-4/5 text-lg mb-10">{{ paragraph }}</p>
    </div>

    <div *ngIf="expandedArticle.article.video?.videoUrl?.startsWith('https')">
      <video
        [src]="expandedArticle.article.video.videoUrl"
        controls
        class="w-full h-full"
      ></video>
    </div>
  </div>
</div>
